.greeting {
  background-color: aqua;
  padding: 20px;
}
.eg {
  background: #000;
  color: aliceblue;
  padding: 20px;
}
.destructure {
  background-color: blue;
  padding: 20px;
}
.Externalstyle {
  margin: 100px;
  background: #000;
}
.ModuleStyle {
  margin: 500px;
}

.img-container {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
  background-color: aqua;
}
.img {
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  cursor: pointer;
}

.light {
  padding: 20px;
  background-color: aliceblue;
  color: #000;
}

.black {
  padding: 20px;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
